 # ORM概述

`ORM`，是指`对象关系映射`。简而言之，就是将数据库中的`table`（表）映射到编程语言中的`class`（类）。  

python中比较著名的ORM框架有很多，大名顶顶的 SQLAlchemy 是python世界里当仁不让的ORM框架。江湖中peewee，strom， pyorm，SQLObject 各领风骚，可是最终还是SQLAlchemy 傲视群雄。

SQLAlchemy 分为两个部分，一个用于 ORM 的对象映射，另外一个是核心的 SQL expression 。第一个很好理解，纯粹的ORM，后面这个不是 ORM，而是DBAPI的封装。

# SQLAlchemy Core

## 连接数据库

连接数据库，连接数据库ORM跟Core方式都都一样。

echo=True表示运行时，进行CURD操作时会显示对应sql语句。

>数据库类型+connector ://用户名:密码（没有密码则为空，不填）@数据库主机地址/数据库名?编码
echo = True 是为了方便 控制台 logging 输出一些sql信息，默认是False

In [3]:
#连接数据库
from sqlalchemy import create_engine
engine = create_engine("mysql+pymysql://younggy:a433991100@localhost:3306/pd?charset=utf8",encoding="utf-8", echo=True)

In [6]:
#用engine获取连接，执行查询
conn = engine.connect()
conn.execute('show tables')

2016-01-21 12:38:24,052 INFO sqlalchemy.engine.base.Engine show tables

INFO:sqlalchemy.engine.base.Engine:show tables

2016-01-21 12:38:24,053 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

## 定义元信息与表

首先，需要定义表的类。把映射关系确定下来。

In [79]:
from sqlalchemy import create_engine, Table, Column, Integer, String, MetaData, ForeignKey
# 连接数据库 
engine = create_engine("mysql+pymysql://younggy:a433991100@localhost:3306/pd?charset=utf8",encoding="utf-8", echo=True)
# 获取元数据
metadata = MetaData()
# 定义表
user = Table('user', metadata,
        Column('id', Integer, primary_key=True),
        Column('name', String(20)),
        Column('fullname', String(40)),
    )

address = Table('address', metadata,
        Column('id', Integer, primary_key=True),
        Column('user_id', None, ForeignKey('user.id')),
        Column('email', String(60), nullable=False)
    )

# 创建数据表，如果数据表存在，则忽视
metadata.create_all(engine)
# 获取数据库连接
conn = engine.connect()

2016-01-21 14:30:25,146 INFO sqlalchemy.engine.base.Engine SHOW VARIABLES LIKE 'sql_mode'

INFO:sqlalchemy.engine.base.Engine:SHOW VARIABLES LIKE 'sql_mode'

2016-01-21 14:30:25,147 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2016-01-21 14:30:25,167 INFO sqlalchemy.engine.base.Engine SELECT DATABASE()

C:\Users\younggy\Anaconda\envs\python3\lib\site-packages\pymysql\cursors.py:146: Warning: Incorrect string value: '\xD6\xD0\xB9\xFA\xB1\xEA...' for column 'VARIABLE_VALUE' at row 475
  result = self._query(query)
INFO:sqlalchemy.engine.base.Engine:SELECT DATABASE()

2016-01-21 14:30:25,168 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2016-01-21 14:30:25,170 INFO sqlalchemy.engine.base.Engine show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'

INFO:sqlalchemy.engine.base.Engine:show collation where `Charset` = 'utf8' and `Collation` = 'utf8_bin'

2016-01-21 14:30:25,171 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2016-01-21 14:30:25,173 INFO sqlalchemy.engine.base.Engine SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test plain returns' AS CHAR(60)) AS anon_1

2016-01-21 14:30:25,174 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2016-01-21 14:30:25,177 INFO sqlalchemy.engine.base.Engine SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test unicode returns' AS CHAR(60)) AS anon_1

2016-01-21 14:30:25,178 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2016-01-21 14:30:25,180 INFO sqlalchemy.engine.base.Engine SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1

INFO:sqlalchemy.engine.base.Engine:SELECT CAST('test collated returns' AS CHAR CHARACTER SET utf8) COLLATE utf8_bin AS anon_1

2016-01-21 14:30:25,181 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2016-01-21 14:30:25,182 INFO sqlalchemy.engine.base.Engine DESCRIBE `address`

INFO:sqlalchemy.engine.base.Engine:DESCRIBE `address`

2016-01-21 14:30:25,183 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

2016-01-21 14:30:25,185 INFO sqlalchemy.engine.base.Engine DESCRIBE `user`

INFO:sqlalchemy.engine.base.Engine:DESCRIBE `user`

2016-01-21 14:30:25,186 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

## 插入数据

### 向user表中插入数据

In [35]:
i = user.insert() 
print (i)

INSERT INTO "user" (id, name, fullname) VALUES (:id, :name, :fullname)

In [29]:
#构建数据
u = dict(name='younggy', fullname='Guangyao')
# 执行查询，第一个为查询对象，第二个参数为一个插入数据字典，如果插入的是多个对象，就把对象字典放在列表里面
r = conn.execute(i, **u)

2016-01-21 12:55:58,499 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name, fullname) VALUES (%s, %s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO user (name, fullname) VALUES (%s, %s)

2016-01-21 12:55:58,499 INFO sqlalchemy.engine.base.Engine ('younggy', 'Guangyao')

INFO:sqlalchemy.engine.base.Engine:('younggy', 'Guangyao')

2016-01-21 12:55:58,504 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

In [30]:
r.inserted_primary_key   # 返回插入行 主键 id

[2]

### 向address表中插入数据

In [32]:
i = address.insert()
print (i)

INSERT INTO address (id, user_id, email) VALUES (:id, :user_id, :email)

In [33]:
#构建数据
addresses = [{'user_id': 1, 'email': 'jack@yahoo.com'}, {'user_id': 1, 'email': 'jack@msn.com'}, {'user_id': 2, 'email': 'www@www.org'}, {'user_id': 2, 'email': 'wendy@aol.com'}]
#执行操作
r = conn.execute(i, addresses)   # 插入多条记录

In [37]:
#返回影响的行数
r.rowcount

4

### 其他方法

In [76]:
#方法1
i = user.insert().values(name='tom', fullname='tom Jim')
r = conn.execute(i)
#方法2
conn.execute(i, name='wendy', fullname='Wendy Williams')

2016-01-21 14:27:13,363 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name, fullname) VALUES (%s, %s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO user (name, fullname) VALUES (%s, %s)

2016-01-21 14:27:13,364 INFO sqlalchemy.engine.base.Engine ('tom', 'tom Jim')

INFO:sqlalchemy.engine.base.Engine:('tom', 'tom Jim')

2016-01-21 14:27:13,367 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

1

## 查询

### 查询所有

In [45]:
from sqlalchemy.sql import select

In [ ]:
#方法1
s = select([user])
r = conn.execute(s)
r.fetchall()
r.close()
r.closed
#方法2
s=user.select()
s.bind = engine
result=s.execute()
for row in result:
    print (row)

### 查询一部分

In [49]:
s = select([user.c.name,user.c.fullname])
r = conn.execute(s)
r.fetchall()
r.close()
r.closed

SELECT "user".name, "user".fullname
FROM "user"

### 同时查询两个表

In [73]:
s = select([user.c.name, address.c.user_id]).where(user.c.id==address.c.user_id)
r = conn.execute(s)
print (r.fetchall())
r.close()
r.closed

2016-01-21 13:12:44,915 INFO sqlalchemy.engine.base.Engine SELECT user.name, address.user_id
FROM user, address
WHERE user.id = address.user_id

INFO:sqlalchemy.engine.base.Engine:SELECT user.name, address.user_id
FROM user, address
WHERE user.id = address.user_id

2016-01-21 13:12:44,916 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

[('jack', 1), ('jack', 1), ('younggy', 2), ('younggy', 2)]

True

### 帮助函数

In [71]:
# 返回受影响的行数
r.rowcount 
# 看看对应的sql语句
print (s)

SELECT "user".id, "user".name, "user".fullname
FROM "user"

# SQLAlchemy ORM
使用 ORM 就是 将 python class 与 数据库的 table 映射，免去直接写 sql 语句创建映射

## 定义表的model

In [84]:
from sqlalchemy.ext.declarative import declarative_base
from sqlalchemy import Column, Integer, String

Base = declarative_base()
class User(Base):
    __tablename__ = 'user' 
    id = Column(Integer, primary_key=True)
    name = Column(String)
    fullname = Column(String)
    def __repr__(self):
        return "<User(name='%s', fullname='%s'')>" % (
                                 self.name, self.fullname)

## 创建表

In [85]:
Base.metadata.create_all(engine)

2016-01-21 14:35:54,280 INFO sqlalchemy.engine.base.Engine DESCRIBE `user`

INFO:sqlalchemy.engine.base.Engine:DESCRIBE `user`

2016-01-21 14:35:54,281 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

## 建立对话

In [86]:
from sqlalchemy.orm import sessionmaker

Session = sessionmaker(bind=engine)
session = Session()

## 添加

In [88]:
ed_user = User(name='汉口', fullname='呱呱')
session.add(ed_user)
session.commit()

2016-01-21 14:37:44,103 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2016-01-21 14:37:44,105 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name, fullname) VALUES (%s, %s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO user (name, fullname) VALUES (%s, %s)

2016-01-21 14:37:44,105 INFO sqlalchemy.engine.base.Engine ('汉口', '呱呱')

INFO:sqlalchemy.engine.base.Engine:('汉口', '呱呱')

2016-01-21 14:37:44,117 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

## 添加多条

In [89]:
session.add_all([
        User(name='1wendy', fullname='Wendy Williams'),
        User(name='2mary', fullname='Mary Contrary'),
        User(name='3fred', fullname='Fred Flinstone')]
        )
session.commit()

2016-01-21 14:38:54,806 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2016-01-21 14:38:54,807 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name, fullname) VALUES (%s, %s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO user (name, fullname) VALUES (%s, %s)

2016-01-21 14:38:54,807 INFO sqlalchemy.engine.base.Engine ('1wendy', 'Wendy Williams')

INFO:sqlalchemy.engine.base.Engine:('1wendy', 'Wendy Williams')

2016-01-21 14:38:54,812 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name, fullname) VALUES (%s, %s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO user (name, fullname) VALUES (%s, %s)

2016-01-21 14:38:54,813 INFO sqlalchemy.engine.base.Engine ('2mary', 'Mary Contrary')

INFO:sqlalchemy.engine.base.Engine:('2mary', 'Mary Contrary')

2016-01-21 14:38:54,814 INFO sqlalchemy.engine.base.Engine INSERT INTO user (name, fullname) VALUES (%s, %s)

INFO:sqlalchemy.engine.base.Engine:INSERT INTO user (name, fullname) VALUES (%s, %s)

2016-01-21 14:38:54,814 INFO sqlalchemy.engine.base.Engine ('3fred', 'Fred Flinstone')

INFO:sqlalchemy.engine.base.Engine:('3fred', 'Fred Flinstone')

2016-01-21 14:38:54,822 INFO sqlalchemy.engine.base.Engine COMMIT

INFO:sqlalchemy.engine.base.Engine:COMMIT

## 回滚

当没有commit之前，可以回滚

In [ ]:
session.rollback()

## 查询

In [91]:
for instance in session.query(User).order_by(User.id): 
    print (instance.name, instance.fullname)
#可以只取某些字段
for name, fullname in session.query(User.name, User.fullname):
    print(name, fullname)
for row in session.query(User, User.name).all():
    print(row.User, row.name)
for row in session.query(User.name.label('name_label')).all():
    print(row.name_label)
#筛选
for name, in sesson.query(User.name).filter_by(fullname='Ed Jones'):
    print(name)
for name, in sesson.query(User.name).filter(User.fullname=='Ed Jones'):
    print(name)
#相等
query.filter(User.name == 'ed')
#不相等
query.filter(User.name != 'ed')
#like
query.filter(User.name.like('%ed%'))
#in
query.filter(User.name.in_(['ed', 'wendy', 'jack']))
query.filter(User.name.in_(
    session.query(User.name).filter(User.name.like('%ed%'))
))
#not in
query.filter(~User.name.in_(['ed', 'wendy', 'jack']))
#IS NULL
query.filter(User.name == None)
query.filter(User.name.is_(None))
#IS NOT NUKK
query.filter(User.name != None)
query.filter(User.name.isnot(None))
#And
from sqlalchemy import and_
query.filter(and_(User.name == 'ed', User.fullname == 'Ed Jones'))
query.filter(User.name == 'ed', User.fullname == 'Ed Jones')
query.filter(User.name == 'ed').filter(User.fullname == 'Ed Jones')
#OR
from sqlalchemy import or_
query.filter(or_(User.name == 'ed', User.name == 'wendy'))
#Match
query.filter(User.name.match('wendy'))


#返回所有
query = session.query(User).filter(Usre.name.like('%ed%')).all()
#first() 取出第一个,如果没有就返回None
obj = query.first()


#整合
query = session.query(User).filter('id<200').order_by(text('id')).all()

2016-01-21 14:39:39,295 INFO sqlalchemy.engine.base.Engine BEGIN (implicit)

INFO:sqlalchemy.engine.base.Engine:BEGIN (implicit)

2016-01-21 14:39:39,297 INFO sqlalchemy.engine.base.Engine SELECT user.id AS user_id, user.name AS user_name, user.fullname AS user_fullname
FROM user ORDER BY user.id

INFO:sqlalchemy.engine.base.Engine:SELECT user.id AS user_id, user.name AS user_name, user.fullname AS user_fullname
FROM user ORDER BY user.id

2016-01-21 14:39:39,298 INFO sqlalchemy.engine.base.Engine ()

INFO:sqlalchemy.engine.base.Engine:()

jack jack Jone
younggy Guangyao
tom tom Jim
tom tom Jim
ed Ed Jones
汉口 呱呱
1wendy Wendy Williams
2mary Mary Contrary
3fred Fred Flinstone

## 删除

In [ ]:
session.delete(user)

# 参考文献

1. [SQLAlchemy 简单笔记](http://www.jianshu.com/p/e6bba189fcbd)
2. [SQLAlchemy 使用笔记](http://blog.csdn.net/billvsme/article/details/46783491)
3. [这个也不错](http://gashero.yeax.com/?p=6)